.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: lightblue;
  transition: background-color 0.3s ease;
  padding: 15px 20px;
  z-index: 1000;
}

.header.scrolled {
  background-color: rgb(112, 146, 173);
  color: white;
}

.header nav {
  display: flex;
  justify-content: flex-end;  
  width: 90%;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 1.0em;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

.header h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-right: 10em;
}

.logo-img {
  min-width: 30px;
  max-height: 30px;
}