.slider-container {
  margin: 0 auto;
  height: 500px; 
  padding: 20px;
  max-width: 800px;
}
  
  .slick-slide img {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    height: 250px;  
  }
  .slick-dots {
    bottom: -30px; 
  }