.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f0f8ff; 
  }
  
  .slick-slide img {
    display: block;
    margin: 0 auto;
    width: 100%; 
    max-width: 600px; 
  }
  .slick-dots {
    bottom: -30px; 
  }