.App {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  position: relative;
}

body {
  background: linear-gradient(to bottom, #f0f8ff, #ffffff); 
  height: 100vh;
  margin: 0;
  color: #333;
  font-family: Arial, sans-serif;
}

.content {
  text-align: center;
  color: rgb(127, 110, 134);
  width: 95%;
  justify-content: flex-end;
  align-items: center;
}

